"*":
  autosave:
    enabled: true
  "coffee-compile":
    compileOnSave: true
    focusEditorAfterCompile: true
    noTopLevelFunctionWrapper: false
  core:
    themes: [
      "one-dark-ui"
      "an-old-hope-syntax"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "b0c8e12d-3ff8-8a83-67e3-dba59b7a66d9"
  linter:
    showErrorPanel: false
  minimap:
    plugins:
      "highlight-selected": true
  "one-dark-ui": {}
  "package-sync":
    forceOverwrite: true
  welcome:
    showOnStartup: false
